[Unit]
Description=@PRODUCT_NAME_SHORT@ Container service
Before=vz.service
After=systemd-sysctl.service
After=network.service

[Service]
ExecStart=/usr/libexec/vz k8s-init
Type=oneshot
RemainAfterExit=yes
TimeoutSec=1h

[Install]
WantedBy=multi-user.target
