[Unit]
Description=Virtuozzo Container service
After=vcmmd.service vstorage-fs.service
Wants=vcmmd.service

[Service]
ExecStart=/usr/libexec/vz start
ExecStop=/usr/libexec/vz stop
Type=oneshot
RemainAfterExit=yes
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
