[Unit]
Description=@PRODUCT_NAME_SHORT@ Container service
After=vcmmd.service vstorage-fs.service vz-cgroup-dummy.service
After=remote-fs.target
Wants=vcmmd.service vz-cgroup-dummy.service
Wants=proc-sys-fs-binfmt_misc.mount

[Service]
ExecStart=/usr/libexec/vz start
ExecStop=/usr/libexec/vz stop
Type=oneshot
RemainAfterExit=yes
TimeoutSec=1h

[Install]
WantedBy=multi-user.target
